.navbar {
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    border-radius: 6px;
    background-color: #161B22;
    display: flex;
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    padding-left: 25px;
    padding-right: 5px;
}

.navbar-name {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8FC4FF;
}

.navbar-search {
    height: 25px;
    width: 400px;
    outline: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: #0D1117;
    border-radius: 6px;
    border: 1px solid #21262D;
    max-width: 400px;
    color: #B4D7FF;
    font-weight: normal;
    font-size: 14px;
    margin-left: 25px;
    font-family: 'Montserrat', sans-serif;
}

.navbar-search::placeholder {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.navbar-avatar {
    margin-left: auto;
    border-radius: 6px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-color: #080809;
}
